spacy
streamlit
presidio-analyzer
presidio-anonymizer
faker
pdfplumber
pdf2image
pytesseract
fpdf
pandas
numpy
langchain
langchain-community
langchain-openai
faiss-cpu
openai
tiktoken
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
